# ----------------------------
# Data / Lakehouse (local only)
# ----------------------------
data/
lakehouse/
*.duckdb
*.db
*.parquet

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# IDE / Editors
# ----------------------------
.vscode/

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

